
	

<% unless user_signed_in? %>

<div class="hero-unit ">

	<h1>Aprende código tu mismo!!!</h1>


	<p>
		Acá aprenderás paso a paso como hacer tu sitio al estilo de los más grandes
	</p>

	<%= link_to "Inscríbete hoy por sólo $49.990!!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>

	<p>

		

</p>

<p>
	<%= link_to "Acá las mujeres que BOMBA esperaba", "http://www.stumbleupon.com/home"%>
	
</p>




	<p></p>
	

	<% end %>


