
	

<% unless user_signed_in? %>

<div class="hero-unit ">

	<h1>Sube y comparte tus fotos!!!</h1>


	<p>
		Disfruta visitando las fotos de tu amigos y compartiendo las tuyas
	</p>

	<%= link_to "Inscríbete ahora!!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>

	

	<% end %>


