<% if user_signed_in? %>
 
 <div class="hero-unit ">

	<h2> A un paso de crear tu fabulosa web!!!</h2>
</div>

	<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8SkbKDhvMf1CnhS7kUnFYp4f_ZpeH_oIwZTMvO50V1zmP8sFklQ"/>

<% else %>

<div class="hero-unit ">

	<h1>Aprende código tu mismo!!!</h1>


	<p>
		Acá aprenderás paso a paso como hacer tu sitio al estilo de los más grandes
	</p>

	<%= link_to "Inscríbete hoy por sólo $49.990!!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>

	<p>

		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRiv7fhiq35cxnSTBpuevVr7iQ76EIadm2aN7cZhfo99ICdJJYVSA"/>

		<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8SkbKDhvMf1CnhS7kUnFYp4f_ZpeH_oIwZTMvO50V1zmP8sFklQ"/>

		<img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQOI7SWtt7GWlGuMnAnxOUXcrFNEJ9jdtZRWtorTNH96V1VJNjaFQ"/>

		<img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ1Wmy2oJJ3RE1lSGsdy6pXgaBq7T6xhAWT4vBE5eaFMjBabteC" />

</p>

<p>
	<%= link_to "Acá las mujeres que BOMBA esperaba", "http://www.stumbleupon.com/home"%>
	
</p>



	
	


	<img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ1Wmy2oJJ3RE1lSGsdy6pXgaBq7T6xhAWT4vBE5eaFMjBabteC" />




	<p></p>
	

	<% end %>


